# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.log
.idea/*
.idea/

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride
.DS_Store
.DS_Store
.npm-debug.log*
.node_modules/
.dist/
.aioverlordUI/npm-debug.log*
.aioverlordUI/yarn-debug.log*
.aioverlordUI/yarn-error.log*
gradle/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vscode/**
aioverlord-frontend/dist/**
nginx/static/**
**/prodIPs.json
aioverlord/aioverlord-mobile/android/app/build/**

kubernetes/kubernetese2e/applyfolder/**
e2etests/reports/**

**/package-lock.json
.gradle/**
**/.gradle/**

**/node_modules/**